<% provide(:title, "Questions List | Disney Trivia") %>

<%= render 'header' %>

<p id="notice"><%= notice %></p>

<h3>Listing Questions</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-md-7">Question</th>
      <th class="col-md-1">Active</th>
      <th class="col-md-4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.question %></td>
        <td><%= question.active ? "Yes" : "No" %></td>
        <td>
            <%= link_to "<button class=\"btn-primary btn-mini\">Show</button>".html_safe, question %>
            <%= link_to "<button class=\"btn-primary btn-mini\">Edit</button>".html_safe, edit_question_path(question) %>
            <%= link_to "<button class=\"btn-primary btn-mini\">Delete</button>".html_safe, question, { method: :delete, data: { confirm: 'Are you sure?' } } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "<button class=\"btn-primary btn-small\">New Question</button>".html_safe, new_question_path %>

<%= render 'footer' %>
