<% provide(:title, "View Question | Disney Trivia") %>

<%= render 'header' %>

<p id="notice"><%= notice %></p>

<div class="row">

  <h3>View Question</h3>

  <%= form_for @question, :html => { :class => "form-inline", :role => "form" } do |f| %>

  <p>
    <div class="col-md-1">
      <strong>Question:</strong>
    </div>
    <div class="col-md-11">
      <textarea  disabled rows="2" style="width: 65%"><%= @question.question %></textarea>
    </div>
  </p>

  <p>
    <div class="col-md-1">
      <strong>Active:</strong>
    </div>
    <div align="left" class="col-md-11">
      <%= @question.active ? "Yes" : "No" %>
    </div>
  </p>
</div>

<div class="row">

  <h3>Answers</h3>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Answer</th>
        <th>Correct?</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <%= f.fields_for :answers do |fa| %>
      <tr>
        <td class="col-md-11">
          <div class="field">
            <%= fa.text_area :answer, { :class => "form-control", :style => "width: 100%", :rows => "1" } %>
          </div>
        </td>
        <td class="col-md-1">
          <div class="field">
            <%= fa.check_box :is_correct %>
          </div>
        </td>
        <td>
          <% if fa.object.persisted? %>
          <%= link_to "<button class=\"btn-primary btn-mini\">Delete</button>".html_safe, [ @question, fa.object ], { method: :delete, data: { confirm: 'Are you sure?' } } %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>


  <h3>Hints</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Hint</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <%= f.fields_for :hints do |fh| %>
      <tr>
        <td class="col-md-11">
          <div class="field">
            <%= fh.text_area :hint, { :class => "form-control", :style => "width: 100%", :rows => "1" } %>
          </td>
          <td>
            <% if fh.object.persisted? %>
            <%= link_to "<button class=\"btn-primary btn-mini\">Delete</button>".html_safe, [ @question, fh.object ],  { method: :delete, data: { confirm: 'Are you sure?' } } %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <% end %>

    <%= link_to "<button class=\"btn-primary btn-small\">Edit</button>".html_safe, edit_question_path(@question) %>
    <%= link_to "<button class=\"btn-primary btn-small\">Back</button>".html_safe, questions_path %>
  </div>

  <%= render 'footer' %>
